<!-- templates/404.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <script src="https://cdn.tailwindcss.com"></script>
   <!-- Tailwind custom config to use Inter and others -->
   <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            inter: ['Inter', 'sans-serif', '"Plus Jakarta Sans"'],
          },
          colors: {
          hacker: '#00FF41',
          cmdgreen: '#33FF00'  // Matrix green
        }
        }
      }
    }
  </script>
</head>
<body class="bg-black text-cmdgreen font-mono flex flex-col items-center justify-center h-screen">
  <h1 class="text-6xl mb-4">Error 404</h1>
  <p class="text-xl">Oops! Page not found.</p>
  <a href="/" class="mt-6 underline hover:text-white">Go Back Home</a>
</body>
</html>
