<!-------
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imani’s Portfolio</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!--------INTER FONT----------->
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap" rel="stylesheet">


  
  <!-- Tailwind custom config to use Inter -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            inter: ['Inter', 'sans-serif', '"Plus Jakarta Sans"'],
          },
          colors: {
          hacker: '#00FF41',
          cmdgreen: '#33FF00'  // Matrix green
        }
        }
      }
    }
  </script>


</head>
<body class="bg-white text-grey-900 font-mono">
    <!-------NAVIGATION--------->
    <nav class="flex justify-between item-center p-6 max-w-5xl mx-auto">
        <h1 class="text-xl font-bold">Imani</h1>
        <ul class="flex space-x-6 text-sm font-semibold">
            <li><a href="#" class="hover:text-cmdgreen">Projects</a></li>
            <li><a href="#" class="hover:text-hacker">About</a></li>
            <li><a href="#" class="hover:text-blue-500">Contact</a></li>
        </ul>
    </nav>

    <!-- HERO SECTION -->
  <section class="max-w-4xl mx-auto px-6 mt-20 text-center font-mono">
    <h2 id="typing-effect"  class="text-4xl  md:text-5xl font-bold mb-4">Hey, I'm Emmanuel Oluwafemi</h2>
    <p class="text-lg md:text-xl text-gray-600">
      I’m a developer and cybersecurity enthusiast who loves building clean, functional web applications.....
    </p>
  </section>


  <!-- Link to your external script -->
  <script src="../js/script.js"></script>
</body>
</html>

-->
